

.templateTabbleSidebar {
    display: flex;
}

.tabbleCircleOuter {
    margin-right: 10px;
}

.repSidePanel {
    /* background: #e6e6e6; */
    padding-right: 12px;
}


.filePanelSidebarAndMainBodyOuter {
    display: flex;
}

.mainBody {
    background: #ffffff;
    flex: 1;
}


.templateFile {
    margin-bottom: 10px;
    /* font-family: roboto condensed; */
    flex-direction: column;
}


disp {
}

span.fileName {
    /* display: block; */
}

span.filePath {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 8px;
    color: #9e9e9e;
}


.templateFile {
    /* cursor: default; */
}

    .templateFile:hover {
        /* background: #e2e2e2; */
    }


    .templateFile.disabled {
        opacity: 0.5;
    }


.iconaPlusOuter {
    margin-left: 7px;
    color: #bfbfbf;
    border: 1px solid black;
    padding: 0px 10px;
    border-radius: 4px;
    border-color: #bfbfbf;
}



.templateTabbleSidebar {
    display: flex;
}

.tabbleCircleOuter {
    margin-right: 10px;
}

.repSidePanel {
    /* background: #e6e6e6; */
    padding-right: 12px;
}


.filePanelSidebarAndMainBodyOuter {
    display: flex;
}

.mainBody {
    background: #ffffff;
    flex: 1;
}


.templateFile {
    margin-bottom: 20px;
    /* font-family: roboto condensed; */
    flex-direction: column;
}


disp {
}

span.fileName {
    /* display: block; */
    display: none;
}

span.filePath {
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 8px;
    color: #9e9e9e;
}


.templateFile {
    /* cursor: pointer; */
}

    .templateFile:hover {
        /* background: #e2e2e2; */
    }


    .templateFile.disabled {
        opacity: 0.5;
    }


.tabblesCircleAndText {
    display: flex;
}


input.txtFullPathTranslatedForDevice {
    font-size: 12px;
    flex: 1;
    padding-left: 8px;
    margin-right: 10px;
    cursor: pointer;
}


.messaggio {
    /* background: red; */
    padding: 12px;
    margin-bottom: 10px;
    color: white;
}


    .messaggio.failure {
        background: red;
    }

    .messaggio.success {
        background: red;
    }

.titleControlPanel1 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 9px;
}

span.dliTitle {
    color: #4597ff;
}


a.btn.btn-primary.btnCreateNewDli {
    margin-bottom: 31px;
    margin-top: 20px;
}


.pulsanti_outer {
    display: flex;
    margin-bottom: 13px;
}


.pulsante_azione_o_indietro {
    margin-left: 14px;
    /* margin: 5px 0px; */
    margin-top: 12px;
}


.dliBlock.dliBlockActions {
    margin-top: 7px;
    /* margin-right: 10px; */
}

li.nav-item.expand {
    flex: 1;
}


.templatePlusAtb.fas.fa-plus {
    color: #637cff;
    margin-left: 9px;
    margin-right: 9px;
}


.h2 {
    text-transform: uppercase;
    color: red;
    font-size: 10px;
}

.filePanelAddressBar {
    /* margin-bottom: 31px; */
    /* margin-top: 20px; */
}


.tabbleText.grassetto {
    font-weight: bold;
}


.tabbleText.semitrasp {
    opacity: 0.6;
}


h2 {
    text-transform: uppercase;
}

.jstree-anchor {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.btnContainer {
    /* width: 100%; */
    /* flex: auto; */
    display: flex;
}


.templateFile.nodownload :hover {
    cursor: default !important;
}

.tabbleCircleOuterAtb {
    display: inline-block;
    margin-right: 7px;
    margin-top: 0px;
}


.filePanelAddressBarAndSearch {
    display: flex;
}

.filePanelAddressBar {
    flex: 1;
}

.filePanelAddressBarAndSearch {
    margin-bottom: 25px;
    margin-top: 14px;
    background: #e0e0e0;
    padding: 10px;
}


/*.filePanelAddressBarAndSearch input {
        margin-bottom: 9px;
        margin-top: 3px;
    }*/


#bgSearch {
    margin-bottom: 8px !important;
    margin-top: 3px;
}


.dataComment {
    display: inline-block;
    height: 27px;
    margin-top: 6px;
}

.autoreCommento {
    display: inline;
    /* margin-left: 10px; */
    height: 27px;
    margin-top: 6px;
    font-weight: bold;
}

.testoCommento {
    display: inline;
    margin-left: 10px;
    /* max-height: 27px; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    margin-top: 6px;
}

.comment2 {
    display: flex;
}


.comment2 {
    margin-top: 8px;
}


.btnDownload {
    margin-left: 7px;
}
