@model HomeModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/home.js"></script>
<h2>Tabbles Web (ver 0.1.2)</h2>

@*<div class="row">
        <div class="col"></div>
        <div class="col-auto">
            <label>
                <input type="checkbox" id="chkTestCombine" />
                <span>Test combine</span>
            </label>
        </div>

    </div>*@

<input type="hidden" id="hidUname" value="@Model.nomeUtente" />
<input type="hidden" id="hidPwd" value="@Model.pwd" />


@*per ora non ho il messaggio nella home perché manca un pulsante per chiuderlo.*@

@*@if (TempData["messaggio"] != null)
    {
        <div class="messaggio @Model.strClassMessaggioSuccesso(TempData["isMessaggioDiSuccesso"])">@TempData["messaggio"]</div>
    }*@


<div class="filePanelOuter">

    <div class="filePanelAddressBarAndSearch">
        <div class="filePanelAddressBar">
            <div class="btn-group templateAtbTabble">


                <a href="#" class="btn btn-secondary btnTagName">

                    <div class="tabbleCircleOuterAtb">
                        <i class="fas fa-circle icona"></i>
                    </div>
                    <span class="spanTagName">name</span>


                </a>

                <a href="#" class="btn btn-secondary btnTagClose"> <span class="fas fa-times"></span></a>
            </div>

            <div class="templatePlusAtb fas fa-plus"></div>

            <div class="btn-group templateAtbTabble">

                <a href="#" class="btn btn-secondary">tag name bla</a>

                <a href="#" class="btn btn-secondary"> <span class="fas fa-times"></span></a>
            </div>
        </div>

        <div class="btn-group mb-3 " id="bgSearch">
            <div class="input-group-prepend">
                <input type="text" id="txtSearch" placeholder="Search..." class="txtSearch" />
            </div>
            @*<input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">*@

            <button class="input-group-btn" id="btnClearSearch"><span class="fa fa-times"></span></button>

        </div>


    </div>
    <div class="filePanelSidebarAndMainBodyOuter">
        <div class="sidePanel">
            <div class="repSidePanel">


                <div class="sidePanelDivJstree">
                    <ul class="ulOuterSidePanel">

                        @*<li data-jstree='{"icon":"fas fa-circle"}'>ciao</li>*@
                    </ul>
                </div>

                <div class="templateTabbleSidebar" style="display:none">
                    <div class="tabblesCircleAndText">
                        <div class="tabbleCircleOuter">
                            <i class="fas fa-circle icona"></i>
                        </div>
                        <div class="tabbleText">
                            testo testo testo lungo lungo
                        </div>
                    </div>

                    @*<div class="iconaPlusOuter">
                            <i class="fas fa-plus iconaPlus"></i>
                        </div>*@
                </div>




            </div>
        </div>
        <div class="mainBody">

            <div class="repFiles">
                <div class="templateFile" style="display:none">
                    <span class="fileName">nome file</span>
                    @*<span class="filePath">path file </span>*@

                    <div class="btnContainer">
                        <input type="text" class="txtFullPathTranslatedForDevice" />
                        <a href="#" class="btn btn-secondary btnCopyToClip">Copy</a>
                    </div>


                    <div class="commentOuter">
                        <div class="comment2">
                            @*<div class="dataComment">10/10/2012</div>*@  
                            <div class="autoreandCommento">
                                <div class="autoreCommento">Autore</div>
                                <div class="testoCommento">Commento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj dfcommento lungo lungo dkjfdkj fdkj fdkj fdkj df</div>
                            </div>
                            <button class="btn btn-outline-primary"><i class="fas fa-angle-down"></i></button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

